<header class="header">
  <div class="container header-inner">
    <a class="brand" href="{{ site.baseurl }}/">WBD Situation Room</a>

    <nav class="nav">
      <a href="{{ site.baseurl }}/deal-hub/">Deal Hub</a>
      <a href="{{ site.baseurl }}/timeline/">Timeline</a>
      <a href="{{ site.baseurl }}/filings/">Filings & Sources</a>
      <a href="{{ site.baseurl }}/how-to-think/">How to Think</a>
      <a href="{{ site.baseurl }}/watch-next/">Watch Next</a>
      <a href="{{ site.baseurl }}/open-questions/">Open Questions</a>
      <a href="{{ site.baseurl }}/why-it-matters/">Why This Matters</a>
      <a href="{{ site.baseurl }}/about/">About</a>
    </nav>
  </div>
</header>
